body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 13px;
}

.h {
    font-weight: bold;
    font-size: 20px;
}

.container {
    max-width: 300px;
    margin: auto;
}

.todo-item {
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 5px;
    user-select: none;
}

.todo-item:hover {
    color: #007bff;
}

input {
    border: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.move-btn {
    display: none;
    margin-left: 5px;
  }
  
  .task-container:hover .move-btn {
    display: inline-block;
  }